<div class="row text-center" style="margin-bottom: 20px;">
    <div class="col">
        <div class="counter">
            <i class="fa fa-credit-card fa-2x"></i>
            <h2 class="timer count-title count-number" data-to="100" data-speed="1500">R$ 100</h2>
            <p class="count-text ">Seu Crédito</p>
        </div>
    </div>
    <div class="col">
        <div class="counter">
            <i class="fa fa-coffee fa-2x"></i>
            <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">1,700</h2>
            <p class="count-text ">IceCoins</p>
        </div>
    </div>
</div>