<!DOCTYPE html>
	<html lang="pt-br">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<title>Acerta - CRMaster </title>
		@field{{cssbootstrap}}
	</head>
	<body>
		<nav class="text-white-50 site-header sticky-top py-1 bg-dark">
		  <div class="container d-flex flex-column flex-md-row justify-content-between">
		    <a class="py-2" href="#">
		      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>CrMaster</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
		    </a>
			<div class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clientes</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="/client/add/">Cadastrar</a>
			      <a class="dropdown-item" href="#">Pesquisar</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item disabled text-info" href="#">Retornos</a>
			      <a class="dropdown-item" href="#">Agendar</a>
			      <a class="dropdown-item" href="#">Meus Retornos</a>
			    </div>
			  </div>
			  <div class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Operadores</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Cadastro</a>
			      <a class="dropdown-item" href="#">Gerência</a>
			      <a class="dropdown-item" href="#">Atendimentos</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">Relatórios</a>
			    </div>
			  </div>
			  <div class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Conta</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Trocar de Senha</a>
			      <a class="dropdown-item" href="#">Gerência</a>
			      <a class="dropdown-item" href="#">Atendimentos</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">Relatórios</a>
			    </div>
			  </div>
		</div>
		</nav>
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</body>
	@field{{jsbootstrap}}
</html>