<!DOCTYPE html>
	<html lang="pt-br">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<title>Acerta - CRMaster </title>
		@field{{cssbootstrap}}
	</head>
	<body>
		<nav class="text-white-50 site-header sticky-top py-1 bg-dark">
		  <div class="container d-flex flex-column flex-md-row justify-content-between">
		    <a class="py-2" href="#">
		      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
		    </a>
		    <a class="py-2 d-none d-md-inline-block" href="#">Clientes</a>
		    <a class="py-2 d-none d-md-inline-block" href="#">Empresas</a>
		    <a class="py-2 d-none d-md-inline-block" href="#">Operadores</a>

        <li class="nav-link dropdown-toggle py-2 d-none d-md-inline-block" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Clientes 
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Novo</a>
          <a class="dropdown-item" href="#">Pesquisar</a>
          <a class="dropdown-item" href="#">Agendamentos</a>
        </ul>
		</li>

		    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
		    <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
		    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
		  </div>
		</nav>
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</body>
	@field{{jsbootstrap}}
</html>