/*!
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Personad';
  src: url('../../fonts/personad/personad.ttf') format('truetype'); /*format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
.dan {
  display: inline-block;
  font: normal normal normal 16px/1 Personad;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Cores */
.dan-red{
color: red;
}
/* makes the font 33% larger relative to the icon container */
.dan-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.dan-2x {
  font-size: 2em;
}
.dan-3x {
  font-size: 3em;
}
.dan-4x {
  font-size: 4em;
}
.dan-5x {
  font-size: 5em;
}
.dan-fw {
  width: 1.28571429em;
  text-align: center;
}
.dan-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.dan-ul > li {
  position: relative;
}
.dan-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.dan-li.dan-lg {
  left: -1.85714286em;
}
.dan-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.dan-pull-left {
  float: left;
}
.dan-pull-right {
  float: right;
}
.dan.dan-pull-left {
  margin-right: .3em;
}
.dan.dan-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.dan.pull-left {
  margin-right: .3em;
}
.dan.pull-right {
  margin-left: .3em;
}
.dan-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.dan-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.dan-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dan-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dan-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.dan-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.dan-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .dan-rotate-90,
:root .dan-rotate-180,
:root .dan-rotate-270,
:root .dan-flip-horizontal,
:root .dan-flip-vertical {
  filter: none;
}
.dan-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.dan-stack-1x,
.dan-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.dan-stack-1x {
  line-height: inherit;
}
.dan-stack-2x {
  font-size: 2em;
}
.dan-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.dan-spider:before {
  content: "\21";
}
.dan-pirata:before {
  content: "\#";
}
.dan-motovelo:before {
  content: '\';
}
.dan-globoterrestre:before {
  content: "\";
}
.dan-mundo:before {
  content: "\";
}
.dan-cao:before {
  content: "\õ";
}
.dan-gato:before {
  content: "\ö";
}
.dan-trabalho:before {
  content: "\@";
}
.dan-oculos:before {
  content: "\$";
}
.dan-trofeu:before {
  content: "\%";
}
.dan-books:before {
  content: "\¨";
}
.dan-medalha:before {
  content: "\&";
}
.dan-livro-aberto:before {
  content: "\²";
}
.dan-fonedeouvido:before {
  content: "\¹";
}
.dan-filmadora:before {
  content: "\³";
}
.dan-classificados:before {
  content: "\º";
}
.dan-teste:before {
  content: "\f070";
}
.dan-remove:before,
.dan-close:before,
.dan-times:before {
  content: "\f00d";
}
.dan-gear:before,
.dan-cog:before {
  content: "\f013";
}
.dan-trash-o:before {
  content: "\f014";
}
.dan-home:before {
  content: "\f015";
}
.dan-file-o:before {
  content: "\f016";
}
.dan-clock-o:before {
  content: "\f017";
}
.dan-road:before {
  content: "\f018";
}
.dan-download:before {
  content: "\f019";
}
.dan-arrow-circle-o-down:before {
  content: "\f01a";
}
.dan-arrow-circle-o-up:before {
  content: "\f01b";
}
.dan-inbox:before {
  content: "\f01c";
}
.dan-play-circle-o:before {
  content: "\f01d";
}
.dan-rotate-right:before,
.dan-repeat:before {
  content: "\f01e";
}
.dan-refresh:before {
  content: "\f021";
}
.dan-list-alt:before {
  content: "\f022";
}
.dan-lock:before {
  content: "\f023";
}
.dan-flag:before {
  content: "\f024";
}
.dan-headphones:before {
  content: "\f025";
}
.dan-volume-off:before {
  content: "\f026";
}
.dan-volume-down:before {
  content: "\f027";
}
.dan-volume-up:before {
  content: "\f028";
}
.dan-qrcode:before {
  content: "\f029";
}
.dan-barcode:before {
  content: "\f02a";
}
.dan-tag:before {
  content: "\f02b";
}
.dan-tags:before {
  content: "\f02c";
}
.dan-book:before {
  content: "\f02d";
}
.dan-bookmark:before {
  content: "\f02e";
}
.dan-print:before {
  content: "\f02f";
}
.dan-camera:before {
  content: "\f030";
}
.dan-font:before {
  content: "\f031";
}
.dan-bold:before {
  content: "\f032";
}
.dan-italic:before {
  content: "\f033";
}
.dan-text-height:before {
  content: "\f034";
}
.dan-text-width:before {
  content: "\f035";
}
.dan-align-left:before {
  content: "\f036";
}
.dan-align-center:before {
  content: "\f037";
}
.dan-align-right:before {
  content: "\f038";
}
.dan-align-justify:before {
  content: "\f039";
}
.dan-list:before {
  content: "\f03a";
}
.dan-dedent:before,
.dan-outdent:before {
  content: "\f03b";
}
.dan-indent:before {
  content: "\f03c";
}
.dan-video-camera:before {
  content: "\f03d";
}
.dan-photo:before,
.dan-image:before,
.dan-picture-o:before {
  content: "\f03e";
}
.dan-pencil:before {
  content: "\f040";
}
.dan-map-marker:before {
  content: "\f041";
}
.dan-adjust:before {
  content: "\f042";
}
.dan-tint:before {
  content: "\f043";
}
.dan-edit:before,
.dan-pencil-square-o:before {
  content: "\f044";
}
.dan-share-square-o:before {
  content: "\f045";
}
.dan-check-square-o:before {
  content: "\f046";
}
.dan-arrows:before {
  content: "\f047";
}
.dan-step-backward:before {
  content: "\f048";
}
.dan-fast-backward:before {
  content: "\f049";
}
.dan-backward:before {
  content: "\f04a";
}
.dan-play:before {
  content: "\f04b";
}
.dan-pause:before {
  content: "\f04c";
}
.dan-stop:before {
  content: "\f04d";
}
.dan-forward:before {
  content: "\f04e";
}
.dan-fast-forward:before {
  content: "\f050";
}
.dan-step-forward:before {
  content: "\f051";
}
.dan-eject:before {
  content: "\f052";
}
.dan-chevron-left:before {
  content: "\f053";
}
.dan-chevron-right:before {
  content: "\f054";
}
.dan-plus-circle:before {
  content: "\f055";
}
.dan-minus-circle:before {
  content: "\f056";
}
.dan-times-circle:before {
  content: "\f057";
}
.dan-check-circle:before {
  content: "\f058";
}
.dan-question-circle:before {
  content: "\f059";
}
.dan-info-circle:before {
  content: "\f05a";
}
.dan-crosshairs:before {
  content: "\f05b";
}
.dan-times-circle-o:before {
  content: "\f05c";
}
.dan-check-circle-o:before {
  content: "\f05d";
}
.dan-ban:before {
  content: "\f05e";
}
.dan-arrow-left:before {
  content: "\f060";
}
.dan-arrow-right:before {
  content: "\f061";
}
.dan-arrow-up:before {
  content: "\f062";
}
.dan-arrow-down:before {
  content: "\f063";
}
.dan-mail-forward:before,
.dan-share:before {
  content: "\f064";
}
.dan-expand:before {
  content: "\f065";
}
.dan-compress:before {
  content: "\f066";
}
.dan-plus:before {
  content: "\f067";
}
.dan-minus:before {
  content: "\f068";
}
.dan-asterisk:before {
  content: "\f069";
}
.dan-exclamation-circle:before {
  content: "\f06a";
}
.dan-gift:before {
  content: "\f06b";
}
.dan-leaf:before {
  content: "\f06c";
}
.dan-fire:before {
  content: "\f06d";
}
.dan-eye:before {
  content: "\f06e";
}
.dan-eye-slash:before {
  content: "\f070";
}
.dan-warning:before,
.dan-exclamation-triangle:before {
  content: "\f071";
}
.dan-plane:before {
  content: "\f072";
}
.dan-calendar:before {
  content: "\f073";
}
.dan-random:before {
  content: "\f074";
}
.dan-comment:before {
  content: "\f075";
}
.dan-magnet:before {
  content: "\f076";
}
.dan-chevron-up:before {
  content: "\f077";
}
.dan-chevron-down:before {
  content: "\f078";
}
.dan-retweet:before {
  content: "\f079";
}
.dan-shopping-cart:before {
  content: "\f07a";
}
.dan-folder:before {
  content: "\f07b";
}
.dan-folder-open:before {
  content: "\f07c";
}
.dan-arrows-v:before {
  content: "\f07d";
}
.dan-arrows-h:before {
  content: "\f07e";
}
.dan-bar-chart-o:before,
.dan-bar-chart:before {
  content: "\f080";
}
.dan-twitter-square:before {
  content: "\f081";
}
.dan-facebook-square:before {
  content: "\f082";
}
.dan-camera-retro:before {
  content: "\f083";
}
.dan-key:before {
  content: "\f084";
}
.dan-gears:before,
.dan-cogs:before {
  content: "\f085";
}
.dan-comments:before {
  content: "\f086";
}
.dan-thumbs-o-up:before {
  content: "\f087";
}
.dan-thumbs-o-down:before {
  content: "\f088";
}
.dan-star-half:before {
  content: "\f089";
}
.dan-heart-o:before {
  content: "\f08a";
}
.dan-sign-out:before {
  content: "\f08b";
}
.dan-linkedin-square:before {
  content: "\f08c";
}
.dan-thumb-tack:before {
  content: "\f08d";
}
.dan-external-link:before {
  content: "\f08e";
}
.dan-sign-in:before {
  content: "\f090";
}
.dan-trophy:before {
  content: "\f091";
}
.dan-github-square:before {
  content: "\f092";
}
.dan-upload:before {
  content: "\f093";
}
.dan-lemon-o:before {
  content: "\f094";
}
.dan-phone:before {
  content: "\f095";
}
.dan-square-o:before {
  content: "\f096";
}
.dan-bookmark-o:before {
  content: "\f097";
}
.dan-phone-square:before {
  content: "\f098";
}
.dan-twitter:before {
  content: "\f099";
}
.dan-facebook-f:before,
.dan-facebook:before {
  content: "\f09a";
}
.dan-github:before {
  content: "\f09b";
}
.dan-unlock:before {
  content: "\f09c";
}
.dan-credit-card:before {
  content: "\f09d";
}
.dan-feed:before,
.dan-rss:before {
  content: "\f09e";
}
.dan-hdd-o:before {
  content: "\f0a0";
}
.dan-bullhorn:before {
  content: "\f0a1";
}
.dan-bell:before {
  content: "\f0f3";
}
.dan-certificate:before {
  content: "\f0a3";
}
.dan-hand-o-right:before {
  content: "\f0a4";
}
.dan-hand-o-left:before {
  content: "\f0a5";
}
.dan-hand-o-up:before {
  content: "\f0a6";
}
.dan-hand-o-down:before {
  content: "\f0a7";
}
.dan-arrow-circle-left:before {
  content: "\f0a8";
}
.dan-arrow-circle-right:before {
  content: "\f0a9";
}
.dan-arrow-circle-up:before {
  content: "\f0aa";
}
.dan-arrow-circle-down:before {
  content: "\f0ab";
}
.dan-globe:before {
  content: "\f0ac";
}
.dan-wrench:before {
  content: "\f0ad";
}
.dan-tasks:before {
  content: "\f0ae";
}
.dan-filter:before {
  content: "\f0b0";
}
.dan-briefcase:before {
  content: "\f0b1";
}
.dan-arrows-alt:before {
  content: "\f0b2";
}
.dan-group:before,
.dan-users:before {
  content: "\f0c0";
}
.dan-chain:before,
.dan-link:before {
  content: "\f0c1";
}
.dan-cloud:before {
  content: "\f0c2";
}
.dan-flask:before {
  content: "\f0c3";
}
.dan-cut:before,
.dan-scissors:before {
  content: "\f0c4";
}
.dan-copy:before,
.dan-files-o:before {
  content: "\f0c5";
}
.dan-paperclip:before {
  content: "\f0c6";
}
.dan-save:before,
.dan-floppy-o:before {
  content: "\f0c7";
}
.dan-square:before {
  content: "\f0c8";
}
.dan-navicon:before,
.dan-reorder:before,
.dan-bars:before {
  content: "\f0c9";
}
.dan-list-ul:before {
  content: "\f0ca";
}
.dan-list-ol:before {
  content: "\f0cb";
}
.dan-strikethrough:before {
  content: "\f0cc";
}
.dan-underline:before {
  content: "\f0cd";
}
.dan-table:before {
  content: "\f0ce";
}
.dan-magic:before {
  content: "\f0d0";
}
.dan-truck:before {
  content: "\f0d1";
}
.dan-pinterest:before {
  content: "\f0d2";
}
.dan-pinterest-square:before {
  content: "\f0d3";
}
.dan-google-plus-square:before {
  content: "\f0d4";
}
.dan-google-plus:before {
  content: "\f0d5";
}
.dan-money:before {
  content: "\f0d6";
}
.dan-caret-down:before {
  content: "\f0d7";
}
.dan-caret-up:before {
  content: "\f0d8";
}
.dan-caret-left:before {
  content: "\f0d9";
}
.dan-caret-right:before {
  content: "\f0da";
}
.dan-columns:before {
  content: "\f0db";
}
.dan-unsorted:before,
.dan-sort:before {
  content: "\f0dc";
}
.dan-sort-down:before,
.dan-sort-desc:before {
  content: "\f0dd";
}
.dan-sort-up:before,
.dan-sort-asc:before {
  content: "\f0de";
}
.dan-envelope:before {
  content: "\f0e0";
}
.dan-linkedin:before {
  content: "\f0e1";
}
.dan-rotate-left:before,
.dan-undo:before {
  content: "\f0e2";
}
.dan-legal:before,
.dan-gavel:before {
  content: "\f0e3";
}
.dan-dashboard:before,
.dan-tachometer:before {
  content: "\f0e4";
}
.dan-comment-o:before {
  content: "\f0e5";
}
.dan-comments-o:before {
  content: "\f0e6";
}
.dan-flash:before,
.dan-bolt:before {
  content: "\f0e7";
}
.dan-sitemap:before {
  content: "\f0e8";
}
.dan-umbrella:before {
  content: "\f0e9";
}
.dan-paste:before,
.dan-clipboard:before {
  content: "\f0ea";
}
.dan-lightbulb-o:before {
  content: "\f0eb";
}
.dan-exchange:before {
  content: "\f0ec";
}
.dan-cloud-download:before {
  content: "\f0ed";
}
.dan-cloud-upload:before {
  content: "\f0ee";
}
.dan-user-md:before {
  content: "\f0f0";
}
.dan-stethoscope:before {
  content: "\f0f1";
}
.dan-suitcase:before {
  content: "\f0f2";
}
.dan-bell-o:before {
  content: "\f0a2";
}
.dan-coffee:before {
  content: "\f0f4";
}
.dan-cutlery:before {
  content: "\f0f5";
}
.dan-file-text-o:before {
  content: "\f0f6";
}
.dan-building-o:before {
  content: "\f0f7";
}
.dan-hospital-o:before {
  content: "\f0f8";
}
.dan-ambulance:before {
  content: "\f0f9";
}
.dan-medkit:before {
  content: "\f0fa";
}
.dan-fighter-jet:before {
  content: "\f0fb";
}
.dan-beer:before {
  content: "\f0fc";
}
.dan-h-square:before {
  content: "\f0fd";
}
.dan-plus-square:before {
  content: "\f0fe";
}
.dan-angle-double-left:before {
  content: "\f100";
}
.dan-angle-double-right:before {
  content: "\f101";
}
.dan-angle-double-up:before {
  content: "\f102";
}
.dan-angle-double-down:before {
  content: "\f103";
}
.dan-angle-left:before {
  content: "\f104";
}
.dan-angle-right:before {
  content: "\f105";
}
.dan-angle-up:before {
  content: "\f106";
}
.dan-angle-down:before {
  content: "\f107";
}
.dan-desktop:before {
  content: "\f108";
}
.dan-laptop:before {
  content: "\f109";
}
.dan-tablet:before {
  content: "\f10a";
}
.dan-mobile-phone:before,
.dan-mobile:before {
  content: "\f10b";
}
.dan-circle-o:before {
  content: "\f10c";
}
.dan-quote-left:before {
  content: "\f10d";
}
.dan-quote-right:before {
  content: "\f10e";
}
.dan-spinner:before {
  content: "\f110";
}
.dan-circle:before {
  content: "\f111";
}
.dan-mail-reply:before,
.dan-reply:before {
  content: "\f112";
}
.dan-github-alt:before {
  content: "\f113";
}
.dan-folder-o:before {
  content: "\f114";
}
.dan-folder-open-o:before {
  content: "\f115";
}
.dan-smile-o:before {
  content: "\f118";
}
.dan-frown-o:before {
  content: "\f119";
}
.dan-meh-o:before {
  content: "\f11a";
}
.dan-gamepad:before {
  content: "\f11b";
}
.dan-keyboard-o:before {
  content: "\f11c";
}
.dan-flag-o:before {
  content: "\f11d";
}
.dan-flag-checkered:before {
  content: "\f11e";
}
.dan-terminal:before {
  content: "\f120";
}
.dan-code:before {
  content: "\f121";
}
.dan-mail-reply-all:before,
.dan-reply-all:before {
  content: "\f122";
}
.dan-star-half-empty:before,
.dan-star-half-full:before,
.dan-star-half-o:before {
  content: "\f123";
}
.dan-location-arrow:before {
  content: "\f124";
}
.dan-crop:before {
  content: "\f125";
}
.dan-code-fork:before {
  content: "\f126";
}
.dan-unlink:before,
.dan-chain-broken:before {
  content: "\f127";
}
.dan-question:before {
  content: "\f128";
}
.dan-info:before {
  content: "\f129";
}
.dan-exclamation:before {
  content: "\f12a";
}
.dan-superscript:before {
  content: "\f12b";
}
.dan-subscript:before {
  content: "\f12c";
}
.dan-eraser:before {
  content: "\f12d";
}
.dan-puzzle-piece:before {
  content: "\f12e";
}
.dan-microphone:before {
  content: "\f130";
}
.dan-microphone-slash:before {
  content: "\f131";
}
.dan-shield:before {
  content: "\f132";
}
.dan-calendar-o:before {
  content: "\f133";
}
.dan-fire-extinguisher:before {
  content: "\f134";
}
.dan-rocket:before {
  content: "\f135";
}
.dan-maxcdn:before {
  content: "\f136";
}
.dan-chevron-circle-left:before {
  content: "\f137";
}
.dan-chevron-circle-right:before {
  content: "\f138";
}
.dan-chevron-circle-up:before {
  content: "\f139";
}
.dan-chevron-circle-down:before {
  content: "\f13a";
}
.dan-html5:before {
  content: "\f13b";
}
.dan-css3:before {
  content: "\f13c";
}
.dan-anchor:before {
  content: "\f13d";
}
.dan-unlock-alt:before {
  content: "\f13e";
}
.dan-bullseye:before {
  content: "\f140";
}
.dan-ellipsis-h:before {
  content: "\f141";
}
.dan-ellipsis-v:before {
  content: "\f142";
}
.dan-rss-square:before {
  content: "\f143";
}
.dan-play-circle:before {
  content: "\f144";
}
.dan-ticket:before {
  content: "\f145";
}
.dan-minus-square:before {
  content: "\f146";
}
.dan-minus-square-o:before {
  content: "\f147";
}
.dan-level-up:before {
  content: "\f148";
}
.dan-level-down:before {
  content: "\f149";
}
.dan-check-square:before {
  content: "\f14a";
}
.dan-pencil-square:before {
  content: "\f14b";
}
.dan-external-link-square:before {
  content: "\f14c";
}
.dan-share-square:before {
  content: "\f14d";
}
.dan-compass:before {
  content: "\f14e";
}
.dan-toggle-down:before,
.dan-caret-square-o-down:before {
  content: "\f150";
}
.dan-toggle-up:before,
.dan-caret-square-o-up:before {
  content: "\f151";
}
.dan-toggle-right:before,
.dan-caret-square-o-right:before {
  content: "\f152";
}
.dan-euro:before,
.dan-eur:before {
  content: "\f153";
}
.dan-gbp:before {
  content: "\f154";
}
.dan-dollar:before,
.dan-usd:before {
  content: "\f155";
}
.dan-rupee:before,
.dan-inr:before {
  content: "\f156";
}
.dan-cny:before,
.dan-rmb:before,
.dan-yen:before,
.dan-jpy:before {
  content: "\f157";
}
.dan-ruble:before,
.dan-rouble:before,
.dan-rub:before {
  content: "\f158";
}
.dan-won:before,
.dan-krw:before {
  content: "\f159";
}
.dan-bitcoin:before,
.dan-btc:before {
  content: "\f15a";
}
.dan-file:before {
  content: "\f15b";
}
.dan-file-text:before {
  content: "\f15c";
}
.dan-sort-alpha-asc:before {
  content: "\f15d";
}
.dan-sort-alpha-desc:before {
  content: "\f15e";
}
.dan-sort-amount-asc:before {
  content: "\f160";
}
.dan-sort-amount-desc:before {
  content: "\f161";
}
.dan-sort-numeric-asc:before {
  content: "\f162";
}
.dan-sort-numeric-desc:before {
  content: "\f163";
}
.dan-thumbs-up:before {
  content: "\f164";
}
.dan-thumbs-down:before {
  content: "\f165";
}
.dan-youtube-square:before {
  content: "\f166";
}
.dan-youtube:before {
  content: "\f167";
}
.dan-xing:before {
  content: "\f168";
}
.dan-xing-square:before {
  content: "\f169";
}
.dan-youtube-play:before {
  content: "\f16a";
}
.dan-dropbox:before {
  content: "\f16b";
}
.dan-stack-overflow:before {
  content: "\f16c";
}
.dan-instagram:before {
  content: "\f16d";
}
.dan-flickr:before {
  content: "\f16e";
}
.dan-adn:before {
  content: "\f170";
}
.dan-bitbucket:before {
  content: "\f171";
}
.dan-bitbucket-square:before {
  content: "\f172";
}
.dan-tumblr:before {
  content: "\f173";
}
.dan-tumblr-square:before {
  content: "\f174";
}
.dan-long-arrow-down:before {
  content: "\f175";
}
.dan-long-arrow-up:before {
  content: "\f176";
}
.dan-long-arrow-left:before {
  content: "\f177";
}
.dan-long-arrow-right:before {
  content: "\f178";
}
.dan-apple:before {
  content: "\f179";
}
.dan-windows:before {
  content: "\f17a";
}
.dan-android:before {
  content: "\f17b";
}
.dan-linux:before {
  content: "\f17c";
}
.dan-dribbble:before {
  content: "\f17d";
}
.dan-skype:before {
  content: "\f17e";
}
.dan-foursquare:before {
  content: "\f180";
}
.dan-trello:before {
  content: "\f181";
}
.dan-female:before {
  content: "\f182";
}
.dan-male:before {
  content: "\f183";
}
.dan-gittip:before,
.dan-gratipay:before {
  content: "\f184";
}
.dan-sun-o:before {
  content: "\f185";
}
.dan-moon-o:before {
  content: "\f186";
}
.dan-archive:before {
  content: "\f187";
}
.dan-bug:before {
  content: "\f188";
}
.dan-vk:before {
  content: "\f189";
}
.dan-weibo:before {
  content: "\f18a";
}
.dan-renren:before {
  content: "\f18b";
}
.dan-pagelines:before {
  content: "\f18c";
}
.dan-stack-exchange:before {
  content: "\f18d";
}
.dan-arrow-circle-o-right:before {
  content: "\f18e";
}
.dan-arrow-circle-o-left:before {
  content: "\f190";
}
.dan-toggle-left:before,
.dan-caret-square-o-left:before {
  content: "\f191";
}
.dan-dot-circle-o:before {
  content: "\f192";
}
.dan-wheelchair:before {
  content: "\f193";
}
.dan-vimeo-square:before {
  content: "\f194";
}
.dan-turkish-lira:before,
.dan-try:before {
  content: "\f195";
}
.dan-plus-square-o:before {
  content: "\f196";
}
.dan-space-shuttle:before {
  content: "\f197";
}
.dan-slack:before {
  content: "\f198";
}
.dan-envelope-square:before {
  content: "\f199";
}
.dan-wordpress:before {
  content: "\f19a";
}
.dan-openid:before {
  content: "\f19b";
}
.dan-institution:before,
.dan-bank:before,
.dan-university:before {
  content: "\f19c";
}
.dan-mortar-board:before,
.dan-graduation-cap:before {
  content: "\f19d";
}
.dan-yahoo:before {
  content: "\f19e";
}
.dan-google:before {
  content: "\f1a0";
}
.dan-reddit:before {
  content: "\f1a1";
}
.dan-reddit-square:before {
  content: "\f1a2";
}
.dan-stumbleupon-circle:before {
  content: "\f1a3";
}
.dan-stumbleupon:before {
  content: "\f1a4";
}
.dan-delicious:before {
  content: "\f1a5";
}
.dan-digg:before {
  content: "\f1a6";
}
.dan-pied-piper:before {
  content: "\f1a7";
}
.dan-pied-piper-alt:before {
  content: "\f1a8";
}
.dan-drupal:before {
  content: "\f1a9";
}
.dan-joomla:before {
  content: "\f1aa";
}
.dan-language:before {
  content: "\f1ab";
}
.dan-fax:before {
  content: "\f1ac";
}
.dan-building:before {
  content: "\f1ad";
}
.dan-child:before {
  content: "\f1ae";
}
.dan-paw:before {
  content: "\f1b0";
}
.dan-spoon:before {
  content: "\f1b1";
}
.dan-cube:before {
  content: "\f1b2";
}
.dan-cubes:before {
  content: "\f1b3";
}
.dan-behance:before {
  content: "\f1b4";
}
.dan-behance-square:before {
  content: "\f1b5";
}
.dan-steam:before {
  content: "\f1b6";
}
.dan-steam-square:before {
  content: "\f1b7";
}
.dan-recycle:before {
  content: "\f1b8";
}
.dan-automobile:before,
.dan-car:before {
  content: "\f1b9";
}
.dan-cab:before,
.dan-taxi:before {
  content: "\f1ba";
}
.dan-tree:before {
  content: "\f1bb";
}
.dan-spotify:before {
  content: "\f1bc";
}
.dan-deviantart:before {
  content: "\f1bd";
}
.dan-soundcloud:before {
  content: "\f1be";
}
.dan-database:before {
  content: "\f1c0";
}
.dan-file-pdf-o:before {
  content: "\f1c1";
}
.dan-file-word-o:before {
  content: "\f1c2";
}
.dan-file-excel-o:before {
  content: "\f1c3";
}
.dan-file-powerpoint-o:before {
  content: "\f1c4";
}
.dan-file-photo-o:before,
.dan-file-picture-o:before,
.dan-file-image-o:before {
  content: "\f1c5";
}
.dan-file-zip-o:before,
.dan-file-archive-o:before {
  content: "\f1c6";
}
.dan-file-sound-o:before,
.dan-file-audio-o:before {
  content: "\f1c7";
}
.dan-file-movie-o:before,
.dan-file-video-o:before {
  content: "\f1c8";
}
.dan-file-code-o:before {
  content: "\f1c9";
}
.dan-vine:before {
  content: "\f1ca";
}
.dan-codepen:before {
  content: "\f1cb";
}
.dan-jsfiddle:before {
  content: "\f1cc";
}
.dan-life-bouy:before,
.dan-life-buoy:before,
.dan-life-saver:before,
.dan-support:before,
.dan-life-ring:before {
  content: "\f1cd";
}
.dan-circle-o-notch:before {
  content: "\f1ce";
}
.dan-ra:before,
.dan-rebel:before {
  content: "\f1d0";
}
.dan-ge:before,
.dan-empire:before {
  content: "\f1d1";
}
.dan-git-square:before {
  content: "\f1d2";
}
.dan-git:before {
  content: "\f1d3";
}
.dan-y-combinator-square:before,
.dan-yc-square:before,
.dan-hacker-news:before {
  content: "\f1d4";
}
.dan-tencent-weibo:before {
  content: "\f1d5";
}
.dan-qq:before {
  content: "\f1d6";
}
.dan-wechat:before,
.dan-weixin:before {
  content: "\f1d7";
}
.dan-send:before,
.dan-paper-plane:before {
  content: "\f1d8";
}
.dan-send-o:before,
.dan-paper-plane-o:before {
  content: "\f1d9";
}
.dan-history:before {
  content: "\f1da";
}
.dan-circle-thin:before {
  content: "\f1db";
}
.dan-header:before {
  content: "\f1dc";
}
.dan-paragraph:before {
  content: "\f1dd";
}
.dan-sliders:before {
  content: "\f1de";
}
.dan-share-alt:before {
  content: "\f1e0";
}
.dan-share-alt-square:before {
  content: "\f1e1";
}
.dan-bomb:before {
  content: "\f1e2";
}
.dan-soccer-ball-o:before,
.dan-futbol-o:before {
  content: "\f1e3";
}
.dan-tty:before {
  content: "\f1e4";
}
.dan-binoculars:before {
  content: "\f1e5";
}
.dan-plug:before {
  content: "\f1e6";
}
.dan-slideshare:before {
  content: "\f1e7";
}
.dan-twitch:before {
  content: "\f1e8";
}
.dan-yelp:before {
  content: "\f1e9";
}
.dan-newspaper-o:before {
  content: "\f1ea";
}
.dan-wifi:before {
  content: "\f1eb";
}
.dan-calculator:before {
  content: "\f1ec";
}
.dan-paypal:before {
  content: "\f1ed";
}
.dan-google-wallet:before {
  content: "\f1ee";
}
.dan-cc-visa:before {
  content: "\f1f0";
}
.dan-cc-mastercard:before {
  content: "\f1f1";
}
.dan-cc-discover:before {
  content: "\f1f2";
}
.dan-cc-amex:before {
  content: "\f1f3";
}
.dan-cc-paypal:before {
  content: "\f1f4";
}
.dan-cc-stripe:before {
  content: "\f1f5";
}
.dan-bell-slash:before {
  content: "\f1f6";
}
.dan-bell-slash-o:before {
  content: "\f1f7";
}
.dan-trash:before {
  content: "\f1f8";
}
.dan-copyright:before {
  content: "\f1f9";
}
.dan-at:before {
  content: "\f1fa";
}
.dan-eyedropper:before {
  content: "\f1fb";
}
.dan-paint-brush:before {
  content: "\f1fc";
}
.dan-birthday-cake:before {
  content: "\f1fd";
}
.dan-area-chart:before {
  content: "\f1fe";
}
.dan-pie-chart:before {
  content: "\f200";
}
.dan-line-chart:before {
  content: "\f201";
}
.dan-lastfm:before {
  content: "\f202";
}
.dan-lastfm-square:before {
  content: "\f203";
}
.dan-toggle-off:before {
  content: "\f204";
}
.dan-toggle-on:before {
  content: "\f205";
}
.dan-bicycle:before {
  content: "\f206";
}
.dan-bus:before {
  content: "\f207";
}
.dan-ioxhost:before {
  content: "\f208";
}
.dan-angellist:before {
  content: "\f209";
}
.dan-cc:before {
  content: "\f20a";
}
.dan-shekel:before,
.dan-sheqel:before,
.dan-ils:before {
  content: "\f20b";
}
.dan-meanpath:before {
  content: "\f20c";
}
.dan-buysellads:before {
  content: "\f20d";
}
.dan-connectdevelop:before {
  content: "\f20e";
}
.dan-dashcube:before {
  content: "\f210";
}
.dan-forumbee:before {
  content: "\f211";
}
.dan-leanpub:before {
  content: "\f212";
}
.dan-sellsy:before {
  content: "\f213";
}
.dan-shirtsinbulk:before {
  content: "\f214";
}
.dan-simplybuilt:before {
  content: "\f215";
}
.dan-skyatlas:before {
  content: "\f216";
}
.dan-cart-plus:before {
  content: "\f217";
}
.dan-cart-arrow-down:before {
  content: "\f218";
}
.dan-diamond:before {
  content: "\f219";
}
.dan-ship:before {
  content: "\f21a";
}
.dan-user-secret:before {
  content: "\f21b";
}
.dan-motorcycle:before {
  content: "\f21c";
}
.dan-street-view:before {
  content: "\f21d";
}
.dan-heartbeat:before {
  content: "\f21e";
}
.dan-venus:before {
  content: "\f221";
}
.dan-mars:before {
  content: "\f222";
}
.dan-mercury:before {
  content: "\f223";
}
.dan-intersex:before,
.dan-transgender:before {
  content: "\f224";
}
.dan-transgender-alt:before {
  content: "\f225";
}
.dan-venus-double:before {
  content: "\f226";
}
.dan-mars-double:before {
  content: "\f227";
}
.dan-venus-mars:before {
  content: "\f228";
}
.dan-mars-stroke:before {
  content: "\f229";
}
.dan-mars-stroke-v:before {
  content: "\f22a";
}
.dan-mars-stroke-h:before {
  content: "\f22b";
}
.dan-neuter:before {
  content: "\f22c";
}
.dan-genderless:before {
  content: "\f22d";
}
.dan-facebook-official:before {
  content: "\f230";
}
.dan-pinterest-p:before {
  content: "\f231";
}
.dan-whatsapp:before {
  content: "\f232";
}
.dan-server:before {
  content: "\f233";
}
.dan-user-plus:before {
  content: "\f234";
}
.dan-user-times:before {
  content: "\f235";
}
.dan-hotel:before,
.dan-bed:before {
  content: "\f236";
}
.dan-viacoin:before {
  content: "\f237";
}
.dan-train:before {
  content: "\f238";
}
.dan-subway:before {
  content: "\f239";
}
.dan-medium:before {
  content: "\f23a";
}
.dan-yc:before,
.dan-y-combinator:before {
  content: "\f23b";
}
.dan-optin-monster:before {
  content: "\f23c";
}
.dan-opencart:before {
  content: "\f23d";
}
.dan-expeditedssl:before {
  content: "\f23e";
}
.dan-battery-4:before,
.dan-battery-full:before {
  content: "\f240";
}
.dan-battery-3:before,
.dan-battery-three-quarters:before {
  content: "\f241";
}
.dan-battery-2:before,
.dan-battery-half:before {
  content: "\f242";
}
.dan-battery-1:before,
.dan-battery-quarter:before {
  content: "\f243";
}
.dan-battery-0:before,
.dan-battery-empty:before {
  content: "\f244";
}
.dan-mouse-pointer:before {
  content: "\f245";
}
.dan-i-cursor:before {
  content: "\f246";
}
.dan-object-group:before {
  content: "\f247";
}
.dan-object-ungroup:before {
  content: "\f248";
}
.dan-sticky-note:before {
  content: "\f249";
}
.dan-sticky-note-o:before {
  content: "\f24a";
}
.dan-cc-jcb:before {
  content: "\f24b";
}
.dan-cc-diners-club:before {
  content: "\f24c";
}
.dan-clone:before {
  content: "\f24d";
}
.dan-balance-scale:before {
  content: "\f24e";
}
.dan-hourglass-o:before {
  content: "\f250";
}
.dan-hourglass-1:before,
.dan-hourglass-start:before {
  content: "\f251";
}
.dan-hourglass-2:before,
.dan-hourglass-half:before {
  content: "\f252";
}
.dan-hourglass-3:before,
.dan-hourglass-end:before {
  content: "\f253";
}
.dan-hourglass:before {
  content: "\f254";
}
.dan-hand-grab-o:before,
.dan-hand-rock-o:before {
  content: "\f255";
}
.dan-hand-stop-o:before,
.dan-hand-paper-o:before {
  content: "\f256";
}
.dan-hand-scissors-o:before {
  content: "\f257";
}
.dan-hand-lizard-o:before {
  content: "\f258";
}
.dan-hand-spock-o:before {
  content: "\f259";
}
.dan-hand-pointer-o:before {
  content: "\f25a";
}
.dan-hand-peace-o:before {
  content: "\f25b";
}
.dan-trademark:before {
  content: "\f25c";
}
.dan-registered:before {
  content: "\f25d";
}
.dan-creative-commons:before {
  content: "\f25e";
}
.dan-gg:before {
  content: "\f260";
}
.dan-gg-circle:before {
  content: "\f261";
}
.dan-tripadvisor:before {
  content: "\f262";
}
.dan-odnoklassniki:before {
  content: "\f263";
}
.dan-odnoklassniki-square:before {
  content: "\f264";
}
.dan-get-pocket:before {
  content: "\f265";
}
.dan-wikipedia-w:before {
  content: "\f266";
}
.dan-safari:before {
  content: "\f267";
}
.dan-chrome:before {
  content: "\f268";
}
.dan-firefox:before {
  content: "\f269";
}
.dan-opera:before {
  content: "\f26a";
}
.dan-internet-explorer:before {
  content: "\f26b";
}
.dan-tv:before,
.dan-television:before {
  content: "\f26c";
}
.dan-contao:before {
  content: "\f26d";
}
.dan-500px:before {
  content: "\f26e";
}
.dan-amazon:before {
  content: "\f270";
}
.dan-calendar-plus-o:before {
  content: "\f271";
}
.dan-calendar-minus-o:before {
  content: "\f272";
}
.dan-calendar-times-o:before {
  content: "\f273";
}
.dan-calendar-check-o:before {
  content: "\f274";
}
.dan-industry:before {
  content: "\f275";
}
.dan-map-pin:before {
  content: "\f276";
}
.dan-map-signs:before {
  content: "\f277";
}
.dan-map-o:before {
  content: "\f278";
}
.dan-map:before {
  content: "\f279";
}
.dan-commenting:before {
  content: "\f27a";
}
.dan-commenting-o:before {
  content: "\f27b";
}
.dan-houzz:before {
  content: "\f27c";
}
.dan-vimeo:before {
  content: "\f27d";
}
.dan-black-tie:before {
  content: "\f27e";
}
.dan-fonticons:before {
  content: "\f280";
}
